<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil | Ethan Mouillet</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <script src="main.js" defer></script>
</head>
<body>
    <header>
        <div class="header_div">
            <a href=""><img id="header_logo" src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="header_div">
            <ul>
                <li><a href="../index.html">Acceuil</a></li>
                <li><a href="../veille/index.html">Veille</a></li>
                <li><a href="">Stage</a></li>
                <li><a href="">Projets</a></li>
                <li><a href="">CV</a></li>
                <li><a href="../competence/index.html">Compétence</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="section_1">

        </section>
        <section id="section_2">
            
        </section>
        <button id="scrollTopBtn" title="Go to top"><img id="scroll_up_img" src="../img/up.png" alt="Scroll up"></button>
    </main>
    <footer>
        <div class="footer_div" id="loca">
            <div id="loca_div">
                <p>14 Av. du Doyen Robert Poplawski, 64000 Pau</p>
                <iframe id="google_maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d457.1674914866947!2d-0.3676071754398806!3d43.31776973198022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5649a2f8b58b65%3A0x64e1d9c4998f2dd3!2sR%C3%A9sidence%20Etudiante%20Pau%20-%20Campus%20Lavie!5e0!3m2!1sen!2sfr!4v1744736697694!5m2!1sen!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="coordonnees" class="footer_div">
            <div id="coordonnees_div">
                <h2 id="coordonnees_div_title">Coordonnées:</h2>
                <div id="coordonnees_div_box">
                    <div class="coordonnees_div_list">
                        <li class="coordonnees_div_items"><img class="coordonnees_div_img" src="../img/mail.png" alt=""><a class="coordonnees_div_txt" href="mailto:ethanmouillet@gmail.com" target="_blank">ethanmouillet@gmail.com</a></li>
                        <li class="coordonnees_div_items"><img class="coordonnees_div_img" src="../img/telephone.png" alt=""><a class="coordonnees_div_txt" href="tel:+330625210441" target="_blank">+33 625210441</a></li>
                    </div>
                    <div class="coordonnees_div_list">
                        <li class="coordonnees_div_items"><img class="coordonnees_div_img" src="../img/linkedin.png" alt=""><a class="coordonnees_div_txt" href="https://www.linkedin.com/in/ethan-mouillet-chaudet-66b717261/" target="_blank">Ethan Mouillet-Chaudet</a></li>
                        <li class="coordonnees_div_items"><img class="coordonnees_div_img" src="../img/github.png" alt=""><a class="coordonnees_div_txt" href="https://github.com/EthaTeck" target="_blank">EthaTeck</a></li>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>