* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/* Body (main body) */

header {
    height: 20vh;
    background-color: #222;
    border-bottom: solid 2px #fcefe3;
    display: flex;
}

main {
    padding: 0px;
}

footer {
    border-top: solid 2px #fcefe3;
    height: 35vh;
    background-color: #222;
    display: flex;
}

/* header */

.header_div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 3vh;
}

#header_logo {
    height: 12.5vh;
    width: 12.5vh;
    margin: 0px 0px 0px 4vw;
    border-radius: 50%;
    background-color: #fcefe3;
}

header div ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw
} 

header div ul li a{
    color: #fcefe3;
} 

header div ul li a {
    position: relative;
    text-decoration: none;
    color: #fcefe3; /* or your preferred text color */
}
  
header div ul li a::after {
    content: '';
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fcefe3; /* same as text color or desired underline color */
    transition: width 0.5s ease-out;
}
  
header div ul li a:hover::after {
    width: 100%;
}

/* main */

/* Section 1 */

#section_1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 15vh 0vh;
}

#section_1_div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_1_div h1 {
    font-size: 10vh;
    color: #fcefe3;
    margin: 0vh 0vh 8vh 0vh;
}

#section_1_div h2 {
    font-size: 4vh;
    margin: 0vh 0vh 3vh 0vh;
    color: #fcefe3;
    width: 50vw;
}

#section_1_div p {
    font-size: 2vh;
    color: #fcefe3;
    width: 50vw;
    margin: 0vh 0vh 2vh 0vh;
}

/* Section 2 */

#section_2 {
    min-height: 100vh;
    background-color: #fcefe3;
    padding: 15vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#section_2_title {
    font-size: 6vh;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    border: solid #222;
    padding: 0vh 2vh;
    background-color: #fcefe3;
    box-shadow: 1vh 0.5vh 0.5vh #333;
}

#veille_ressources_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
}

.veille_ressources_box_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Background container */
.veille_ressources_box_bg {
    position: relative;
    width: 80vh;
    height: 70vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: 4px;
}

/* Content hidden initially */
.veille_ressources_box {
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fcefe3;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s ease;
}

.veille_ressources_box h3 {
    font-size: 4vh;
    width: 80%;
    text-align: center;
    margin: 7.5vh 0vh 4vh 0vh;
}

.veille_ressources_box p {
    font-size: 3vh;
    width: 80%;
    text-align: left;
}

/* Hover Properties */

.veille_ressources_box_bg:hover {
    padding: 0px;
    border: solid 4px #222;
}

.veille_ressources_box_bg:hover .veille_ressources_box {
    top: 0;
}

/* Background images */
#bg_1 {
    background-image: url('../img/veille_bg_1.png');
}
#bg_2 {
    background-image: url('../img/veille_bg_2.png');
}
#bg_3 {
    background-image: url('../img/veille_bg_3.png');
}
#bg_4 {
    background-image: url('../img/veille_bg_4.png');
}
#bg_5 {
    background-image: url('../img/veille_bg_5.png');
}
#bg_6 {
    background-image: url('../img/veille_bg_6.png');
}

/* Tap img */

.veille_ressources_tap {
    margin: 2.5vh 0vh 0vh 0vh;
    height: 10vh;
}

/* Section 3*/

#section_3 {
    background-color: #222;
    padding: 15vh 0vh 20vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#section_3_title {
    font-size: 6vh;
    color: #fcefe3;
    text-align: center;
    text-transform: uppercase;
    border: solid #fcefe3;
    padding: 0vh 2vh;
    background-color: #222;
    box-shadow: 1vh 0.5vh 0.5vh #f3e0cc;
    width: 50vw;
}

#section_3_div {
    width: 65%;
}

#section_3_div h3 {
    color: #f3e0cc;
    font-size: 4.5vh;
    margin: 0vh 0vh 3vh 0vh;
}

#section_3_div p {
    color: #f3e0cc;
    font-size: 3vh;
    margin: 0vh 0vh 4vh 2vh;
}

/* Footer */

.footer_div {
    height: 100%;
    width: 50%
}

#loca {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loca_div {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#loca_div p {
    color: #fcefe3;
    font-size: 2.8vh;
}

#google_maps {
    width: 70%;
    height: 70%;
}

#coordonnees_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
}

#coordonnees_div_title {
    font-size: 5vh;
    color: #fcefe3;
}

#coordonnees_div_box {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.coordonnees_div_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3vh;
}

.coordonnees_div_items{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.coordonnees_div_img {
    height: 5vh;
    border: solid 2px #fcefe3;
    border-radius: 30%;
}

.coordonnees_div_txt {
    font-size: 3vh;
    color: #fcefe3;
}

/* Scroll top btn */

#scrollTopBtn {
    height: 7.5vh;
    width: 7.5vh;
    position: fixed;
    bottom: 7.5vh;
    right: 7.5vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border: solid 2px #fcefe3;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
  
#scrollTopBtn:hover {
    background-color: #333;
    border-color: #2f2f2f;
}

#scroll_up_img {
    height: 100%;
    width: 100%;
}
